<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731083168113-ndk2jmm5teb53co7g8hk3qfde9hs0fnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731083168113-ndk2jmm5teb53co7g8hk3qfde9hs0fnp</string>
	<key>API_KEY</key>
	<string>AIzaSyCkPPPaOUqsvDhnavcxr5XDk0UohqqNwtc</string>
	<key>GCM_SENDER_ID</key>
	<string>731083168113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.threedbodylab.pocket</string>
	<key>PROJECT_ID</key>
	<string>i-body-release-6ca52</string>
	<key>STORAGE_BUCKET</key>
	<string>i-body-release-6ca52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731083168113:ios:68e9b07358c025c9</string>
	<key>DATABASE_URL</key>
	<string>https://i-body-release-6ca52.firebaseio.com</string>
</dict>
</plist>